<tr>
  <td><%= order.name %></td>
  <td><%= order.email %></td>
  <td><%= order.address %></td>
  <td><%= order.pay_type %></td>
  <td><%= order.created_at %></td>
  <td><%= link_to 'Show', order %></td>
  <td><%= link_to 'Edit', edit_order_path(order) %></td>
  <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>

