<% cache [cache_key_for_products, @page, @search_param] do %>
<table class="products_table">
<% @products.each do |product| %>
 <% cache(cache_key_for_product(product)) do %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

    <td>
      <%= image_tag(product.image_url, class: 'list_image') %>
    </td>

    <td class="list_description">
      <dl>
        <dt><%= product.title %></dt>
        <dd><%= truncate(strip_tags(product.description), length: 80) %></dd>
        <% if product.on_sale == true %>
          <dd>Price: <s><%= number_to_currency(product.price) %></s> <font color = "red"> <%= number_to_currency(product.sale_products.first.price) %> </font> Quantity: <%= sprintf("%d", product.sale_products.first.quantity) %>
        <% else %>
          <dd>Price: <%= number_to_currency(product.price) %> Quantity: <%= sprintf("%d", product.quantity) %>
        <% end %>
        Rating: <%= sprintf("%0.01f", product.rating) %></dd> 
      </dl>
    </td>

    <td class="list_actions">
      <%= link_to 'Show', product %><br/>
      <%= link_to 'Edit', edit_product_path(product) %><br/>
      <%= link_to 'Put On Sale', new_sale_product_path(sale_product: {product_id: product.id}) %><br/>
      <%= link_to 'Destroy', product, method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
 <% end %>
 <% end %>
</table>

<br />

<%= link_to 'New product', new_product_path %>
<div class="flickr_pagination"><%= will_paginate @products %><div>
<% end %>
