<div id='product_title'>
  <strong><%= @product.title %></strong>
</div>

<div id='product_seller'>
  Provider: <%= @product.seller.email %>
</div>

<div id='product_description'>
  <strong>Description:</strong>
  <%= sanitize(@product.description) %>
</div>

<div id='product_image'>
  <%= image_tag(@product.image_url) %>
</div>

<br></br>

<div class="price_line">
<span id='product_price'>
<% if @product.on_sale == false %>
  <strong>Price:</strong>
  <%= number_to_currency(@product.price) %>
<% else %>
  <strong>Price:</strong>
  <s><%= number_to_currency(@product.price) %></s>
  <span class='sale_price'><%= number_to_currency(@product.sale_products.first.price) %></span>
<% end %>
</span>

<span id= 'product_quantity'>
<% if @product.on_sale == false %>  
  <strong>Quantity:</strong>
  <%= @product.quantity %>
<% else %>
   <strong>Quantity:</strong>
   <%= @product.sale_products.first.quantity %>
<% end %>
</span>

<span id='product_rating'>
  <strong>Rating:</strong>
  <%= @product.rating %>
</span>

<span id='add_button'>
  <%= form_tag line_items_path(product_id: @product), remote: true, class: "product_button" do %>
    <%= number_field_tag(:quantity, 1, in: 1..@product.quantity) %>
    <%= submit_tag("Add to Cart") %>
  <% end %>
</span>
</div>

