<!-- START_HIGHLIGHT -->
<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %>
<!-- END_HIGHLIGHT -->
  <td><%= line_item.quantity %>&times;</td>
  <td><%= line_item.product.title %></td>
  <td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
      <td><%= button_to '+', line_item_path(line_item.id), method: :put, params: { delta: 1 }, remote:true %><td/>
      <td><%= button_to '-', line_item_path(line_item.id), method: :put, params: { delta: -1 } %><td/>
  <td><%= button_to 'Remove item', line_item, method: :delete,
        data: { confirm: 'Are you sure?' } %></td> 
</tr>

