<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>FastBuy Catalog</h1>
<div align = "right">
<%= form_tag({ controller: 'store', action: 'sort'}, method: 'get') do %>
<nobr>Sort by</nobr>
<%= select_tag( 'sort', options_for_select([['title', "title"], ['price', "price"], ['quantity', "quantity"], ['rating', "rating"]]), :onchange => "this.form.submit();", :include_blank => "please select" ) %>
<!--%= submit_tag "Sort", name:nil, class: 'btn' %-->
<% end %>
</div>
  <% @products.each do |product| %>
      <div class="entry">
        <%= link_to( image_tag(product.image_url), product_path(product.id)) %>
        <h3><%= link_to product.title, product_path(product.id) %></h3>
        <p><%= sanitize(product.description) %></p>
        <div class="price_line">
          <% if product.on_sale == true %>
          <span class="price">Price: <s><%= number_to_currency(product.price) %></s></span>
          <span class="sale_price"><%= number_to_currency(product.sale_products.first.price) %></span>
          <span class="quantity">Quantity: <%= sprintf("%d", product.sale_products.first.quantity) %></span>
          <% else %>
          <span class="price">Price: <%= number_to_currency(product.price) %></span>
          <span class="quantity">Quantity: <%= sprintf("%d", product.quantity) %></span>
          <% end %>
          <span class="rating">Rating: <%= sprintf("%0.01f", product.rating) %></span>
          <% if product.quantity > 0 %>
            <%= button_to 'Add to Cart', line_items_path(product_id: product, quantity: 1), remote: true %>
          <% else %>
            <%= button_to 'Product Unavailable', '.', remote: true, disabled: true %>
          <% end %>
         <div class="on_sale"><% if product.on_sale == true %>On Sale<% end %></div>
        </div>
      </div>
<% end %>

